<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/styles.css" />
    <title>Students</title>
  </head>
  <body>
    <h1>home page</h1>
    <form action="/" method="post">
      <input type="text" name="reg_no" class="inp-usn" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
